@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ========================
             Menu
          1.Generic
          2.Nav
          3.LandingPage
          4.About
          5.Projects
          6.Contact
          7.Footer
          8.MobileMenu
          9.MediaQueries
   ======================== */

/* ========================
           1.Generic
   ======================== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    /* --primary-color: #1c2c36;
    --secondary-color: #10181f; 
    --third-color: #FFFFFF;
    --accent-color: #FFCD2D;
    transition: all 300ms ease; */
    --primary-color: #e2e2e2;
    --secondary-color: #dac292; 
    --third-color: #000000;
    --accent-color: #ad8a66;
    transition: all 500ms ease;
    
}

:root .light-mode{
    /* --primary-color: #C7A58B;
    --secondary-color: #A47855; 
    --third-color: #FFFFFF;
    --accent-color: #FFCD2D; */
    --primary-color: #3a6b8f;
    --secondary-color: #045d80; 
    --third-color: #ebf2fa;
    --accent-color: #a5be00;
    transition: all 500ms ease;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
}

.body--wrapper{
    display: flex;
}

img{
    width: 100%;
}

.content--wrapper{
    width: 90%;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
}

.row{
    margin: 0 auto;
    width: 90%;
}

li{
    list-style-type: none;
}

.orange-text{
    color: var(--accent-color);
}

a{
    text-decoration: none;
}

.click{
    transition: all 300ms ease;
}

.click:hover{
    transform: scale(1.15);
}

.click:active{
    transform: scale(0.85);
}

.fa-circle-half-stroke{
    position: fixed;
    color: var(--third-color);
    font-size: 28px;
    right: 28px;
    top: 28px;
}

.section__title{
    text-align: center;
    font-size: 48px;
    color: var(--third-color);
    letter-spacing: 2px;
}

.section__sub-title{
    display: block;
    text-align: center;
    color: var(--third-color);
    font-size: 20px;
}

.btn{
    margin: 12px 0px;
    font-size: 20px;
    padding: 12px 44px;
    border-radius: 8px;
    color: var(--third-color);
    background-color: transparent;
    border-color: var(--secondary-color);
}

.btn:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.code_private{
    color: red;
    cursor: not-allowed;
}

/* ========================
             2.Nav
   ======================== */
.nav--wrapper{
    position: relative;
    width: 10%;
}

nav{
    position: fixed;
    padding: 14px 8px;
    width: 10%;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: slide-in 600ms 200ms backwards;
}

@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.logo--wrapper{
    display: flex;
}

.logo{
    height: 100px;
    transition: all 300ms ease;
    cursor: pointer;
}

.logo:hover{
    transform: rotate(15deg) scale(0.95);
}

.logo:active{
    transform: rotate(15deg) scale(0.75);
}

.lists--wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.nav__link--list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.nav__link:not(:last-child){
    margin-bottom: 20px;
}

.nav__link--anchor{
    color: var(--third-color);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.link--hover-effect::after{
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: all 300ms ease;
}

.link--hover-effect:hover::after{
    width: 100%;
    left: 0;
}

.social__link--list{
    display: flex;
    justify-content: center;
}

.social__link:not(:last-child){
    margin-right: 18px;
}

.social__link--anchor{
    font-size: 28px;
    color: var(--third-color);
}

.copyright{
    color: var(--third-color);
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}


/* ========================
         3.LandingPage
   ======================== */
#landing-page{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.landing-page__content--wrapper{
    align-self: center;
    width: 60%;
}

.title{
    color: var(--third-color);
    font-size: 100px;
    letter-spacing: 4px;
    line-height: 1;
    animation: fade-up 600ms 200ms backwards;
}

.sub-title{
    color: var(--third-color);
    letter-spacing: 2px;
    animation: fade-up 600ms 400ms backwards;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.landing-page__img--wrapper{
    display: flex;
    position: relative;
    height: 100vh; 
    width: 38%;
    animation: opacity-animation 600ms 400ms backwards;
}

@keyframes opacity-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.landing-page__img{
    align-self: flex-end;
    max-width: 500px;
    width: 100%;
}

.bee{
    width: 50px;
    position: absolute;
}


.bee1{
    top: 50%;
    left: 0;
    animation: fly-circle 5s infinite linear;
}

.bee2{
    top: 30%;
    right: 25%;
    animation: fly 7s infinite alternate-reverse;
}

.bee3{
    top: 20%;
    left: 10%;
    animation: float 4s infinite;
}

@keyframes fly {
    0%{
        transform: translateX(0px);
    }

    20%{
        transform: translate(40px, 20px);
    }

    40%{
        transform: translate(10px, 50px) rotate(35deg);
    }

    60%{
        transform: translate(25px, -15px) rotate(70deg);
    }

    80%{
        transform: translate(20px, 5px) rotate(0deg);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-50px) scale(0.7);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fly-circle {
    0% {
       transform: scale(1) rotate(0deg) translateX(40px) rotate(180deg);
    }

    100% {
       transform: scale(1) rotate(360deg) translateX(40px) rotate(180deg);
    }
 }

.scroll-down__icon{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 35px;
    border: 1px solid var(--third-color);
    border-radius: 18px;
    transition: all 300ms ease;
}

.scroll-down__icon::after{
    content: "";
    position: absolute;
    left: 50%;
    top:5px;
    transform: translateX(-50%);
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: var(--third-color);
    animation: scroll-down 800ms infinite alternate-reverse;
}

@keyframes scroll-down {
    0%{
        transform: translate(-50%, 5px);
    }
    100%{
        transform: translate(-50%, 15px);
    }
}

.scroll-down__icon:hover{
    transform: translateX(-50%) scale(1.15);
}

 /* ========================
            4.About
   ======================== */
#about{
    margin-top: 100px;
}

.about--wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about__description--wrapper,
.about__technology-stack--wrapper{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title{
    font-size: 30px;
    color: var(--third-color);
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about__description{
    padding: 4px 0;
    font-size: 22px;
    color: var(--third-color);
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
}

.technology-stack{
    display: flex;
}

.technology__box{
    position: relative;
    display: flex;
    padding: 4px;
    width: 25%;
}

.technology__img{
    transition: all 300ms ease;
}

.technology__box:hover .technology__img{
    transform: scale(0.9);
    opacity: 0.75;
}

.technology__name{
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: -1;
    opacity: 0;
    transform: translate(-50%);
    font-size: 18px;
    color: var(--third-color);
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.technology__box:hover .technology__name{
    opacity: 1;
    bottom: -20px;
}

/* ========================
           5.Projects
   ======================== */
#projects{
    margin-top: 100px;
}

.projects--wrapper{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    position: relative;
    margin: 24px 0;
    max-width: 1000px;
    width: 100%;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 1px 1px 37px -14px rgba(66, 68, 90, 1);
}

.project::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #000000;
    opacity: 0;
    transition: all 300ms ease;
}

.project:hover::after{
    border: 1px solid #000000;
    opacity: 0.75;
    transform: translateX(0);
}

.project__img{
    width: 100%;
    transform: scale(1.1);
    transition: all 300ms ease;
}

.project:hover .project__img{
    filter: blur(2px);
    transform: scale(1.15);
}

.project__info{
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 300ms ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project:hover .project__info{
    transform: translateX(0);
    opacity: 1;
}
 
.project__title,
.project__description,
.project__stack,
.project__description--short{
    color: #FFFFFF;
}

.project__title{
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1;
}

.project__stack{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

.project__description,
.project__description--short{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 20px 0;
}

.project__description--short{
    display: none;
}

.project__link{
    font-size: 40px;
    color: #FFFFFF;
    margin: 10px;
}
/* ========================
           6.Contact
   ======================== */
#contact{
    margin-top: 76px;
}

.contact--wrapper{
    margin: 40px auto;
    max-width: 1000px;
}

#contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input__label{
    font-size: 20px;
    color: var(--third-color);
    letter-spacing: 2px;
    align-self: flex-start;
}

.contact__input,
.contact__textarea{
    margin: 8px 0;
    padding: 6px;
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    color: var(--third-color);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
    transition: all 300ms ease;
}

.contact__textarea{
    resize: vertical;
}

.contact__input:hover,
.contact__textarea:hover{
    border-color: var(--third-color);
}

.contact__input:focus,
.contact__textarea:focus{
    outline: none;
}

.contact__loading,
.contact__success{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.contact__loading{
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 80px;
}

.fa-spinner{
    animation: spin 800ms infinite;
}

.loading .contact__loading{
    z-index: 100;
    opacity: 1;
}

.contact__success{
    padding: 20px;
    border-radius: 32px;
    background-color: green;
    color: var(--third-color);
    font-size: 50px;
    text-align: center;
}

.succes .contact__success{
    z-index: 100;
    opacity: 1;
}

.loading .contact__input,
.loading .input__label,
.loading .contact__textarea,
.loading .btn,
.succes .contact__input,
.succes .input__label,
.succes .contact__textarea,
.succes .btn{
    opacity: 0;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* ========================
           7.Footer
   ======================== */
footer{
    margin-top: 100px;
    background-color: var(--secondary-color);
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--wrapper{
    margin: 0 auto;
    max-width: 1000px;
}

.footer__link--list{
    display: flex;
}

.footer__link:not(:last-child){
    margin-right: 38px;
}

.footer__link--anchor{
    position: relative;
    color: var(--third-color);
    font-size: 20px;
    letter-spacing: 2px;
}

.copyright--footer{
    display: none;
    color: var(--third-color);
    letter-spacing: 1px;
}
/* ========================
         8.MobileMenu
   ======================== */
.open-menu__icon{
    font-size: 48px;
    color: var(--third-color);
    display: none !important;
}

.close-menu__icon{
    position: absolute;
    top: 20px;
    right: 28px;
    color: var(--third-color);
    font-size: 48px;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    transform: translateY(-100%);
}

.open-menu .mobile-menu{
    transition: all 300ms ease;
}

.open-menu .mobile-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.mobile-menu--list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.mobile-menu__link:not(:last-child){
    margin-bottom: 24px;
}

.mobile-menu--anchor{
    color: var(--third-color);
    font-size: 40px;
}

.mobile-social__link--list{
    display: flex;
}

.mobile-social__link:not(:last-child){
    margin-right: 60px;
}

.mobile-social__link--anchor{
    color: var(--third-color);
    font-size: 52px;
}

/* ========================
        9.MediaQueries
   ======================== */

@media (min-width: 2300px) {
    .container{
        max-width: 1800px;
    }

    .logo{
        height: 120px;
    }

    .nav__link--anchor{
        font-size: 30px;
    }

    .social__link--anchor{
        font-size: 40px;
    }

    .copyright{
        font-size: 22px;
    }

    .title{
        font-size: 150px;
    }

    .sub-title{
        font-size: 60px;
    }

    .landing-page__img{
        max-width: unset;
        width: 100%;
    }

    .bee{
        width: 70px;
    }

    .fa-circle-half-stroke{
        font-size: 44px;
    }

    .scroll-down__icon {
        width: 40px;
        height: 65px;
    }

    .section__title{
        font-size: 70px;
    }

    .about__title{
        font-size: 40px;
    }

    .about__description{
        font-size: 28px;
    }

    .project {
        max-width: 1200px;
    }

    .project__title{
        font-size: 80px;
    }

    .project__stack{
        font-size: 34px;
    }

    .technology__name{
        font-size: 24px;
    }

    .project__description{
        font-size: 26px;
    }

    .section__sub-title{
        font-size: 28px;
    }

    .input__label{
        font-size: 24px;
    }

    .contact__input,
    .contact__textarea{
        font-size: 28px;
    }

    .btn{
        font-size: 40px;
    }

    .footer__link--anchor{
        font-size: 28px;
    }

    .open-menu__icon{
        display: none;
    }
}

@media (max-width: 1440px){
    .nav--wrapper,
    nav{
        width: 11%;
    }

    .content--wrapper{
        width: 89%;
    }

    .container{
        max-width: 1200px;
    }

    .logo{
        height: 80px;
    }

    .nav__link--anchor{
        font-size: 18px;
    }

    .social__link--anchor{
        font-size: 24px;
    }

    .copyright{
        font-size: 10px;
    }

    .title{
        font-size: 86px;
    }

    .landing-page__content--wrapper{
        width: 65%;
    }

    .landing-page__img--wrapper{
        width: 34%;
    }

    .bee{
        width: 45px;
    }

    .section__title{
        font-size: 46px;
    }

    .about__description{
        font-size: 20px;
    }

    .technology__name{
        font-size: 18px;
    }

    .project__title{
        font-size: 54px;
    }

    .open-menu__icon{
        display: none;
    }
}

@media (max-width: 1024px) {
    .content--wrapper{
        width: 100%;
    }

    .body--wrapper{
        flex-direction: column;
    }

    nav,
    .nav--wrapper{
        position: unset;
        width: 100%;
    }

    nav{
        flex-direction: row;
        height: 120px;
        padding: 8px 16px;
    }

    .lists--wrapper{
        position: unset;
        top: 0;
        transform: translateY(0);
    }

    .nav__link--list{
        flex-direction: row;
        margin-bottom: 20px;
    }

    .social__link--list{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .nav__link:not(:last-child){
        margin-right: 20px;
        margin-bottom: 0px;
    }

    .fa-circle-half-stroke{
       position: unset;
    }

    .copyright{
        display: none;
        font-size: 12px;
    }

    #landing-page{
        min-height: calc(100vh - 120px);
    }

    .landing-page__img--wrapper{
        height: calc(100vh - 120px)
    }

    .title{
        font-size: 74px;
    }

    .landing-page__content--wrapper{
        width: 68%;
    }

    .landing-page__img--wrapper{
        width: 31%;
    }

    .bee{
        width: 40px;
        z-index: -1;
    }

    .section__title{
        font-size: 40px;
    }

    .about__title{
        font-size: 26px;
    }

    .about__description{
        font-size: 18px;
    }

    .technology-stack{
        flex-wrap: wrap;
        max-width: 250px;
    }

    .technology__box{
        padding: 20px;
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .technology__img{
        width: 65%;
    }

    .technology__name{
        font-size: 16px;
    }

    .technology__box:hover .technology__name{
        bottom: -6px;
    }

    .project__title{
        font-size: 40px;
    }

    .project__stack{
        font-size: 20px;
    }

    .project__description{
        font-size: 18px;
    }

    .section__sub-title{
        font-size: 18px;
    }

    footer{
        flex-direction: column;
    }

    .footer__link--anchor{
        font-size: 18px;
    }

    .copyright--footer{
        margin-top: 24px;
        text-align: center;
        display: block;
    }

    .open-menu__icon{
        display: none !important;
    }
}

@media (max-width: 768px) {
    .lists--wrapper,
    .fa-circle-half-stroke{
        display: none !important;
    }

    nav{
        padding: 8px 34px;
    }

    .open-menu__icon{
        display: block !important;
    }

    .landing-page__content--wrapper{
        width: 69%;
    }

    .landing-page__img--wrapper{
        width: 31%;
    }

    .title{
        font-size: 54px;
    }

    .sub-title{
        margin-top: 4px;
        font-size: 20px;
    }

    .section__title{
        font-size: 38px;
    }

    .about--wrapper{
        flex-direction: column;
        margin-top: 0;
    }

    .about__description--wrapper,
    .about__technology-stack--wrapper{
        width: 100%;
    }

    .about__description--wrapper{
        margin-bottom: 24px;
    }

    .about__title{
        text-align: center;
        font-size: 24px;
    }

    .about__description{
        font-size: 16px;
    }

    .technology__box{
        width: 50%;
        padding: 14px;
    }

    .technology__img{
        width: 100%;
    }

    #projects,
    #about,
    #contact,
    footer{
        margin-top: 60px;
    }

    .project__title{
        font-size: 32px;
    }

    .project__stack{
        font-size: 14px;
    }

    .project__description{
        display: none;
    }

    .project__description--short{
        font-size: 14px;
        display: block;
        margin: 8px 0;
    }

    .contact__success{
        font-size: 38px;
    }
}

@media (max-width: 425px) {
    .mobile-menu--anchor{
        font-size: 38px;
    }

    .title{
        font-size: 50px;
    }

    .sub-title{
        font-size: 18px;
    }

    .bee{
        width: 35px;
    }

    .section__sub-title{
        font-size: 16px;
    }

    .footer__link--anchor{
        font-size: 16px;
    }

    .project__link{
        margin: 4px 8px;
    }

    .contact__success{
        font-size: 28px;
    }
}

@media (max-width: 375px){
    .project__info{
        align-items: center;
    }

    .project__description--short{
        display: none;
    }

    .project__stack{
        margin: 8px 0;
    }

    .footer__link:not(:last-child){
        margin-right: 20px;
    }

    .contact__success{
        font-size: 24px;
    }
}

@media (max-width: 320px){
    .project__title{
        font-size: 28px;
    }

    .footer__link--list{
        flex-direction: column;
        align-items: center;
    }

    .footer__link:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .contact__success{
        font-size: 20px;
    }
}